@page "/initiative"
@using InitiativeTrackerAssist.Models
@using System.Text.Json
@using InitiativeTrackerAssist.Models
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Initiative Tracker</PageTitle>

<h1>Initiative Tracker</h1>

<button class="btn btn-primary mb-3" @onclick="NextTurn">Next Turn</button>

<div class="mb-4">
    <h3>Add New Character</h3>
    <div class="row g-2">
        <div class="col-md-1">
            <label>Type</label>
            <select class="form-select" @bind="newCharacterType">
                <option value="0">Player</option>
                <option value="1">NPC</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Name</label>
            <input class="form-control" @bind="newName" @bind:event="oninput" />
        </div>
        <div class="col-md-2">
            <label>Initiative Value</label>
            <input type="number" class="form-control" @bind="newInitiative" @bind:event="oninput" />
        </div>
        <div class="col-md-1">
            <label>Current HP</label>
            <input type="number" class="form-control" @bind="newCurrentHP" @bind:event="oninput" />
        </div>
        <div class="col-md-1">
            <label>Max HP</label>
            <input type="number" class="form-control" @bind="newMaxHP" @bind:event="oninput" />
        </div>
        <div class="col-md-1">
            <label>Temp HP</label>s
            <input type="number" class="form-control" @bind="newTempHP" @bind:event="oninput" />
        </div>
        <div class="col-md-1">
            <label>Armor Class</label>
            <input type="number" class="form-control" @bind="newArmorClass" @bind:event="oninput" />
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <button class="btn btn-success" @onclick="AddCharacter">Add Character</button>
        </div>
    </div>
</div>

@if (characters.Any())
{
    <div class="list-group">
        @foreach (var c in SortedCharacters)
        {
            bool isActive = ReferenceEquals(c, activeCharacter);
            <details class="mb-2 @(isActive ? "border border-primary active-character" : "")">
                <summary class="p-2">
                    @if (c.CharacterType == CharacterType.Player)
                    {
                        <strong>PC</strong>
                    }
                    @if (c.CharacterType == CharacterType.NPC)
                    {
                        <strong>NPC</strong>
                    }
                    &ndash;<strong>@c.Name</strong> &ndash; Init: @c.Initiative &ndash; AC: @c.ArmorClass
                    @if (isActive)
                    {
                        <span class="badge bg-primary ms-2">Active</span>
                    }
                </summary>
                <div class="p-2">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input class="form-control" @bind="c.Name" />
                        </div>
                        <div class="col-md-3">
                            <label>Initiative Value</label>
                            <input type="number" class="form-control" @bind="c.Initiative" />
                        </div>
                        <div class="col-md-1">
                            <label>Current HP</label>
                            <input type="number" class="form-control" @bind="c.CurrentHP" max="@c.MaxHP" /> 
                        </div>
                        <div class="col-md-1">
                            <label>Max HP</label>
                            <input type="number" class="form-control" @bind="c.MaxHP" disabled />
                        </div>
                        <div class="col-md-1">
                            <label>Temp HP</label>
                            <input type="number" class="form-control" @bind="c.TempHp" />
                        </div>
                        <div class="col-md-1">
                            <label>AC</label>
                            <input type="number" class="form-control" @bind="c.ArmorClass" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" @bind="c.Standard" />
                                <label class="form-check-label">Standard</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" @bind="c.Bonus" />
                                <label class="form-check-label">Bonus</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" @bind="c.Reaction" />
                                <label class="form-check-label">Reaction</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <details class="mt-2">
                            <summary>
                                @{ 
                                    var engaged = c.ActiveStatuses.ToList();
                                }
                                @if (engaged.Any())
                                {
                                    @string.Join(", ", engaged)
                                }
                                else
                                {
                                    <em>no statuses...yet.</em>
                                }
                            </summary>
                            <div class="row g-2 mt-1">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Blinded, (bool)e.Value)" checked="@((c.Statuses & Statuses.Blinded) != 0)" />
                                        <label class="form-check-label">Blinded</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Charmed, (bool)e.Value)" checked="@((c.Statuses & Statuses.Charmed) != 0)" />
                                        <label class="form-check-label">Charmed</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Deafened, (bool)e.Value)" checked="@((c.Statuses & Statuses.Deafened) != 0)" />
                                        <label class="form-check-label">Deafened</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Frightened, (bool)e.Value)" checked="@((c.Statuses & Statuses.Frightened) != 0)" />
                                        <label class="form-check-label">Frightened</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Grappled, (bool)e.Value)" checked="@((c.Statuses & Statuses.Grappled) != 0)" />
                                        <label class="form-check-label">Grappled</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Incapacitated, (bool)e.Value)" checked="@((c.Statuses & Statuses.Incapacitated) != 0)" />
                                        <label class="form-check-label">Incapacitated</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Invisible, (bool)e.Value)" checked="@((c.Statuses & Statuses.Invisible) != 0)" />
                                        <label class="form-check-label">Invisible</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Paralyzed, (bool)e.Value)" checked="@((c.Statuses & Statuses.Paralyzed) != 0)" />
                                        <label class="form-check-label">Paralyzed</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Petrified, (bool)e.Value)" checked="@((c.Statuses & Statuses.Petrified) != 0)" />
                                        <label class="form-check-label">Petrified</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Poisoned, (bool)e.Value)" checked="@((c.Statuses & Statuses.Poisoned) != 0)" />
                                        <label class="form-check-label">Poisoned</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Prone, (bool)e.Value)" checked="@((c.Statuses & Statuses.Prone) != 0)" />
                                        <label class="form-check-label">Prone</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Restrained, (bool)e.Value)" checked="@((c.Statuses & Statuses.Restrained) != 0)" />
                                        <label class="form-check-label">Restrained</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Stunned, (bool)e.Value)" checked="@((c.Statuses & Statuses.Stunned) != 0)" />
                                        <label class="form-check-label">Stunned</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" @onchange="e => ToggleStatus(c, Statuses.Unconscious, (bool)e.Value)" checked="@((c.Statuses & Statuses.Unconscious) != 0)" />
                                        <label class="form-check-label">Unconscious</label>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </details>
        }
    </div>
}
else
{
    <p>No characters added yet.</p>
}

@code {
    private List<Character> characters = new List<Character>();
    private Character? activeCharacter;

    private string newName = string.Empty;
    private int newCharacterType = 0; // 0=Player, 1=NPC, 2=Monster
    private int newInitiative;
    private int newMaxHP;
    private int newCurrentHP;
    private int newTempHP = 0;
    private int newArmorClass;

    private IReadOnlyList<Character> SortedCharacters =>
        characters.OrderByDescending(c => c.Initiative).ToList();

    protected override async Task OnInitializedAsync()
    {
        //await LoadCharactersAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCharactersAsync();
            StateHasChanged();
        }
    }   

    private async Task LoadCharactersAsync()
    {
        var json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "characters");
        if (!string.IsNullOrEmpty(json))
        {
            characters = JsonSerializer.Deserialize<List<Character>>(json) ?? new List<Character>();
        }
        if (characters.Any() && activeCharacter == null)
        {
            activeCharacter = SortedCharacters.First();
        }
    }

    private async Task SaveCharactersAsync()
    {
        var json = JsonSerializer.Serialize(characters);
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "characters", json);
    }

    private async Task AddCharacter()
    {
        if (string.IsNullOrWhiteSpace(newName))
            return;

        var c = new Character
        {
            Name = newName,
            Initiative = newInitiative,
            MaxHP = newMaxHP,
            CurrentHP = newCurrentHP,
            TempHp = newTempHP,
            ArmorClass = newArmorClass
        };

        characters.Add(c);
        if (activeCharacter == null)
        {
            activeCharacter = c;
        }

        // reset form
        newName = string.Empty;
        newInitiative = 0;
        newMaxHP = 0;
        newCurrentHP = 0;
        newTempHP = 0;
        newArmorClass = 0;

        // Save to file
        await SaveCharactersAsync();

        // Force component re-render
        StateHasChanged();
    }

    private void NextTurn()
    {
        if (!characters.Any())
            return;

        var sorted = SortedCharacters.ToList();
        if (activeCharacter == null)
        {
            activeCharacter = sorted.First();
            return;
        }

        int idx = sorted.IndexOf(activeCharacter);
        if (idx < 0)
        {
            // character might have been removed or modified; reset to first
            activeCharacter = sorted.First();
            return;
        }

        int nextIdx = (idx + 1) % sorted.Count;
        activeCharacter = sorted[nextIdx];
    }

    private void ToggleStatus(Character character, Statuses status, bool isChecked)
    {
        if (isChecked)
        {
            character.Statuses |= status;
        }
        else
        {
            character.Statuses &= ~status;
        }
        StateHasChanged();
    }
}